{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RentalPeriod Visualization</title>
	<style>
		.rented-cell{
			background-color: #449d44;
			border: none;
		}
	</style>
</head>
<body>
<h1>Visualization for Rental Periods</h1>
<div id="visualization-root"></div>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>

{{ rental_periods|json_script:"rental-data" }}
<script type="text/babel">
const e = React.createElement;
function Timeline(props) {
  const {data: rentalPeriods} = props;
  // Display a "Like" <button>
  if(!rentalPeriods)
    return null;
  const one_day = 1000 * 60 * 60 * 24.;
  const ten_days = 10 * one_day;
  const start_datetime = new Date(new Date(rentalPeriods[0].start_datetime) - ten_days);
  const end_datetime = new Date(new Date(rentalPeriods[rentalPeriods.length - 1].end_datetime) - 1 * -ten_days);

  let dates = [];
  for (let i=start_datetime;i <= end_datetime; i = new Date(i -(-one_day))){
    dates.push(i);
  }
  function Dates({dates}){
    return dates.map((elem, id) => (
	  <th key={id}>{elem.toLocaleString()}</th>
	))
  }
  return (<table>
	  <thead>
	  	<tr><Dates dates={dates}/></tr>
	  </thead>
	{rentalPeriods && rentalPeriods.map((elem, id) => {
	  return (
	    <tbody>
			<tr key={id}>
			  {dates.map((dateElem) => {
				const start = new Date(elem.start_datetime);
				const end = new Date(elem.end_datetime);
                if(dateElem.valueOf() === start.valueOf()
				|| (dateElem.valueOf() >= start.valueOf() && dateElem.valueOf() <= end.valueOf())){
				  return (<td className="rented-cell">{elem.id}</td>)
				}
				else{
				  return (<td>&nbsp;</td>)
				}
			  })}
			</tr>
		</tbody>
	  )
	})}
  </table>);
}
function Visualization(props) {
  const rentalPeriods = JSON.parse(document.getElementById('rental-data').textContent);
  // Display a "Like" <button>
  return (<div>{rentalPeriods && <Timeline data={rentalPeriods}/>}</div>);
}
const domContainer = document.querySelector('#visualization-root');
ReactDOM.render(<Visualization/>, domContainer);

</script>
</body>
</html>

